<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Files</title>
</head>

<body>
<h1>List</h1>
<table>
    <th:block th:each="file : ${f_list}">
        <tr>
            <td><a th:text="${file.name}" th:href="@{/viewer_obj(file=${file.getLink()},f_texture=${file.getTLink()})}">Title ...</a></td>
            <td th:text="${file.link}">...</td>
            <td th:text="${file.getTLink()}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>>

